
* {
    box-sizing: border-box;
    outline: none;
}


body {
    font-family:'Arial', sans-serif;
    background: url("../img/bg-body.jpg") no-repeat;
    background-size: cover;
}

label {
    color: #9eabad;
    font-size: 13px;
}

input[type=text] {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    line-height: 40px;
    font-size: 13px;
    color: #666666;
    margin: 0 2px 5px;
    padding: 0 5px;
    background-color: #f0f0f0;
}

input[type=email] {
    border: 2px solid #f0f0f0;
    border-right: 4px;
    line-height: 40px;
    width: 370px;
    font-size: 13px;
    color: #666666;
    margin: 0 2px 5px;
    padding: 0 5px;
    background-color: #f0f0f0;
}

input[type=password] {
    border: 2px solid #f0f0f0;
    border-right: 4px;
    line-height: 40px;
    width: 370px;
    font-size: 13px;
    color: #666666;
    margin: 0 2px 5px;
    padding: 0 5px;
    background-color: #f0f0f0;

}


.pm-form {
    width: 460px;
    margin: 170px auto 170px;
    background-color: #fff;
    min-height: 200px;
    border-radius: 4px;
}

.pm-form__header {
    padding: 30px 30px;
}

.pm-form__header-name{
    font-weight: 700;
    font-size: 24px;
}

.pm-form__header-name:before {
    content: url("../img/sgnicon.svg");
    padding: 5px;
}

.pm-form__login {
    border: none;
    outline: none;
    margin: 30px 30px;

}

.pm-form__another {
    border: none;
    outline: none;
    margin: 30px 30px;

}

.pm-form__button {
    width: 400px;
    height: 50px;
    box-shadow: 0 3px 0 #bd1962;
    border-radius: 4px;
    background-color: #ea355a;
    border: none;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    margin: 10px 25px;
}

.pm-form__button:hover{
    background-color: #ff512f;
    border: none;
    box-shadow: 0 3px 0 #ff512f;
}

.pm-text__footer{
    margin-top: 27px;
}

.pm-text__footer > p{
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding: 0 0 20px;
}
